body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #595758;
}

h1 {
  font-family: "Bookman Old Style";
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 80px;
}

h2 {
  font-family: "Bookman Old Style";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 80px;
}

h3 {
  font-family: "Bookman Old Style";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 80px;
}

a {
  text-decoration: none;
  color: #595758;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 42px;
    line-height: 130%;
  }
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 24px;
    line-height: 130%;
  }
}
@media screen and (max-width: 425px) {
  h1 {
    font-size: 32px;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 320px;
}

.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  color: #a3a2a2;
  border: 1px solid #595758;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 6px 20px;
  background-color: #fff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .btn {
    margin-bottom: 15px;
  }
}
.btn:hover {
  color: #363838;
  border-color: rgba(242, 175, 41, 0.5);
  background-color: rgba(242, 175, 41, 0.5);
}

.btn.disabled {
  opacity: 0.5;
}
.btn.disabled:hover {
  color: #a3a2a2;
  border-color: #595758;
  background-color: #fff;
  cursor: no-drop;
}

.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}

.devider {
  max-width: 252px;
  width: 100%;
  height: 1px;
  background-color: #363838;
}

.header {
  min-height: 160px;
  padding-top: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  padding-top: 10px;
}
.header__theme {
  border-bottom: 1px solid #363838;
  padding: 0 50px;
}
.header__logo {
  width: 51px;
  margin: 0 auto;
  padding-bottom: 8px;
}
.header__logo-img {
  width: 100%;
}
.header__subtitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 8px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header {
    min-height: initial;
    padding-bottom: 24px;
  }
  .header__theme {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer {
  padding: 56px 0 72px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  width: 130px;
}
.footer__logo-img {
  width: 100%;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.footer__link {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__form {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 20px 50px;
}
.footer__form-input {
  border: 1px solid #dcdcdc;
  border-bottom: 1px solid #646464;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  padding: 4px 20px;
  outline: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.footer__form-input.completed {
  border-color: #f2af29;
}

@media screen and (max-width: 1024px) {
  .footer__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
  }
}
@media screen and (max-width: 768px) {
  .footer__container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__col {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;
  }
  .footer__col:first-child {
    display: none;
  }
  .footer__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .footer__logo {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .footer__form {
    padding-left: 0;
    padding-right: 0;
  }
}
.welcome {
  max-height: 660px;
  height: 100vh;
  background-image: url(./../../assets/img/index/welcome-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
.welcome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  max-height: 660px;
}
.welcome__present {
  min-width: 450px;
  max-height: calc(660px + 50px);
  height: inherit;
  background-color: #f1d152;
  position: relative;
}
.welcome__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding-left: 10%;
}
.welcome__title {
  font-style: normal;
  font-weight: 600;
  font-size: 110px;
  line-height: 129px;
  padding-bottom: 36px;
}
.welcome__subtitle {
  padding-top: 26px;
  position: relative;
}
.welcome__subtitle::before {
  content: "";
  width: 185px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #5da399;
}

.welcome-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.slick-dots li {
  list-style: none;
}
.slick-dots li.slick-active button {
  background-color: #f1d152;
}
.slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #363838;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media screen and (max-width: 1024px) {
  .welcome {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .welcome__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .welcome__present {
    margin-top: 0;
    max-height: initial;
    height: 500px;
  }
  .welcome__info {
    padding-bottom: 50px;
  }

  .welcome-slider {
    margin-top: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .welcome-slider__item {
    height: 550px;
  }
  .welcome-slider__item > img {
    height: 100%;
  }

  .slick-dots {
    right: initial;
    left: 80%;
  }
}
@media screen and (max-width: 576px) {
  .welcome {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .welcome__present {
    min-width: initial;
    height: 300px;
  }
  .welcome__title {
    font-size: 62px;
    line-height: 110%;
    padding-bottom: 36px;
  }
  .welcome__subtitle {
    padding-top: 26px;
    position: relative;
  }
  .welcome__subtitle::before {
    content: "";
    width: 185px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #5da399;
  }

  .welcome-slider {
    margin-top: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .welcome-slider__item {
    height: 350px;
  }
  .welcome-slider__item > img {
    height: 100%;
  }

  .slick-track {
    width: 100%;
  }

  .slick-dots {
    right: initial;
    left: 60%;
  }
}
.individuality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  width: 100%;
  max-width: 730px;
  margin: 150px auto 50px;
}

.gallery-line {
  width: 100%;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery-line-sponsored {
  margin-bottom: 20px;
}
.gallery-line-sponsored > .gallery-line__item {
  background-color: transparent;
}
.gallery-line__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  aspect-ratio: 1/1;
  text-align: center;
  background-color: #a3a2a2;
}
.gallery-line__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-line__item-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.gallery-line__item-overlay:hover {
  opacity: 1;
}
.gallery-line__item-title {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
}
.gallery-line__item-subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

@media screen and (max-width: 1024px) {
  .gallery-line__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
  }
  .gallery-line-sponsored {
    gap: 20px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gallery-line-sponsored > .gallery-line__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100px;
            flex: 1 1 100px;
    background-color: transparent;
  }
}
@media screen and (max-width: 768px) {
  .gallery-line-sponsored > .gallery-line__item {
    background-color: transparent;
  }
}
@media screen and (max-width: 425px) {
  .gallery-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery-line-sponsored > .gallery-line__item {
    background-color: transparent;
  }
}
.specific {
  height: 616px;
  background-color: #a3a2a2;
  background-image: url(../../assets/img/index/specific-bg.jpg);
  background-position: center center;
  background-size: cover;
  margin: 100px 0;
  padding-top: 140px;
}
.specific__list {
  padding-left: 20%;
  position: relative;
  padding-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.specific__list::before {
  content: "";
  width: 200px;
  height: 1px;
  background-color: #5da399;
  position: absolute;
  top: 0;
  left: 0;
}
.specific__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.timeline {
  margin-bottom: 100px;
  text-align: center;
}
.timeline__picture {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.timeline__picture > img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .timeline {
    display: none;
  }
}
.gallery__categorys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.gallery__list {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px 30px;
  padding: 26px;
  grid-template-areas: "item-1 item-2 big" "item-3 item-4 big";
}
.gallery__list-revers {
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-areas: "big item-1 item-2" "big item-3 item-4";
}
.gallery .big {
  grid-area: big;
}
.gallery .item-2 {
  grid-area: item-2;
}
.gallery .item-1 {
  grid-area: item-1;
}
.gallery .item-3 {
  grid-area: item-3;
}
.gallery .item-4 {
  grid-area: item-4;
}
.gallery__item {
  overflow: hidden;
}
.gallery__item > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.gallery__item > img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

@media screen and (max-width: 768px) {
  .gallery__categorys {
    gap: 15px;
    row-gap: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery__list {
    gap: 8px 8px;
    padding: 14px;
  }
}
@media screen and (max-width: 576px) {
  .gallery__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    gap: 8px 8px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    grid-template-areas: "item-1 item-2" "item-3 item-4" "big big";
  }
}
.breadcrumbs {
  background-image: url(./../assets/img/breadcrumbs-bg.jpg);
  height: 338px;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumbs__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: rgba(163, 162, 162, 0.5);
}
.breadcrumbs__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 55px;
  color: #595758;
}
.breadcrumbs-clean {
  height: 100px;
  background-image: none;
}
.breadcrumbs__map {
  height: 100%;
  width: 100%;
}

.info {
  padding: 50px 0;
}
.info > h2 {
  width: 100%;
  max-width: 800px;
}
.info__block {
  padding-left: 20%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .info {
    padding: 20px 5px;
  }
  .info__block {
    padding-left: initial;
  }
}
.decoration {
  padding: 50px 0;
}
.decoration__picture {
  width: 100%;
}
.decoration__pcture-img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.decoration-about {
  margin-bottom: 235px;
}

.our {
  background-color: #5da399;
  position: relative;
  height: 366px;
  margin-bottom: 50px;
}
.our__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our__picture {
  margin-top: -180px;
  min-width: 520px;
  width: 100%;
}
.our__picture-img {
  width: 100%;
}
.our__info {
  margin-top: -190px;
}
.our__title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  color: #363838;
  margin-bottom: 14px;
}
.our__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin-top: 24px;
}

.progressbar {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 34px;
}
.progressbar__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14px;
}
.progressbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.progressbar__name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #363838;
}
.progressbar__count {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #363838;
}
.progressbar__line {
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
}
.progressbar__line-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: #363838;
}

@media screen and (max-width: 1024px) {
  .our__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .our__picture {
    margin-top: -100px;
    min-width: initial;
    max-width: 700px;
    width: 100%;
  }
  .our__picture-img {
    width: 100%;
  }

  .progressbar {
    padding-top: 50px;
  }

  .our-gap {
    height: 220px;
  }
}
@media screen and (max-width: 576px) {
  .our__title {
    font-size: 24px;
  }
  .our__picture {
    margin-top: -80px;
  }

  .our-gap {
    height: 110px;
  }
}
@media screen and (max-width: 425px) {
  .our__picture {
    margin-top: -65px;
  }
  .our__info {
    margin-top: -230px;
  }

  .progressbar {
    padding-top: 25px;
  }

  .our-gap {
    height: 110px;
  }
}
.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 36px;
  padding: 20px 0;
}
.contact__social path {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.contact__social svg:hover path {
  fill: #f2af29;
}
.contact__msg {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #a3a2a2;
}
.contact__adress {
  padding: 40px 0;
}
.contact__email {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #363838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  padding-bottom: 24px;
}
.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.contact__form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__form-input, .contact__form-textarea {
  font-family: "Roboto", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  resize: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #363838;
  padding: 6px 16px;
  outline: none;
  border: 1px solid #a3a2a2;
  border-radius: 20px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.contact__form-input.valid, .contact__form-textarea.valid {
  border-color: #f2af29;
  width: 100%;
}
.contact__form-input.error, .contact__form-textarea.error {
  border-color: #f16066;
  width: 100%;
}

label.error {
  display: none !important;
}

.swal2-title {
  color: #363838;
  font-family: "Roboto", open-sans;
}

/*# sourceMappingURL=all.css.map */