@import "variables.scss";

.gallery-line {
  width: 100%;
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &-sponsored {
    margin-bottom: 20px;
    & > .gallery-line__item {
      background-color: transparent;
    }
  }

  &__item {
    position: relative;
    flex: 1 1 200px;
    aspect-ratio: 1/1;
    text-align: center;
    background-color: $noon;
  }

  &__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__item-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all 0.25s ease-in;

    &:hover {
      opacity: 1;
    }
  }

  &__item-title {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
  }

  &__item-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}

@include pc-small() {
  .gallery-line {
    &__item {
      flex: 1 1 300px;
    }
    &-sponsored {
      gap: 20px;
      flex-wrap: nowrap;
      & > .gallery-line__item {
        flex: 1 1 100px;
        background-color: transparent;
      }
    }
  }
}
@include tablet() {
  .gallery-line {
    &-sponsored {
      & > .gallery-line__item {
        background-color: transparent;
      }
    }
  }
}
@include mobile-medium() {
  .gallery-line {
    flex-wrap: wrap;
    &-sponsored {
      & > .gallery-line__item {
        background-color: transparent;
      }
    }
  }
}
